<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>
            **/Migrations/**
            **/*ModelSnapshot.cs
            **/InitialCreate.cs
            **/InitialCreate.Designer.cs
            **/ServiceRegistration.cs
            **/ReportsDbContext.cs
          </ExcludeByFile>
          <ExcludeByAssembly>
            Reports.Infrastructure
          </ExcludeByAssembly>
          <Exclude>
            [*]*Program
            [*]*Program*
            [Reports.Api]Program
            [Reports.Api]Reports.Api.Program
            [*]*Startup
            [Reports.Infrastructure]*
            [*]*.Migrations.*
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>